.main_table {
	border-style: solid;
	border-width: thin;
	border-color: #FDBA4D;
	border-spacing: 3px;
	border-collapse: collapse;
	padding: 2px;
	width: 100%;
	height: 100%;
	background-color: #F2F2F2
}

.main_table tr td {
	vertical-align: top;
	border-style: solid;
	border-width: thin;
	border-color: #FDBA4D;
	border-spacing: 3px;
	border-collapse: collapse;
}

.lince_table1 {
	border-style: solid;
	border-width: thin;
	border-color: #FDBA4D;
	border-spacing: 1px;
	border-collapse: collapse;
	padding: 1px;
	width: auto%;
	background-color: #F2F2F2
}

.lince_table1 tbody tr {
	
}

.lince_table1 tbody tr.odd_row {
	background-color: #cccccc;
	color: black;
}

.lince_table1 tbody tr.even_row {
	background-color: #f7f7f7;
	color: black;
}

.lince_table1 tbody td {
	border: 1px solid #aaaaaa;
	white-space: nowrap;
	padding: 2px;
}

.lince_table1 .caption {
	border: 1px solid #aaaaaa;
	font-weight: bold;
	background-color: #dce7f6;
	color: #305881;
	white-space: nowrap;
	cursor: default;
}